---
import "swiper/css";
import "swiper/css/navigation";

interface Props {
  images: { url?: string; alt?: string }[];
}

const { images } = Astro.props;
---

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    {
      images.map((image) => (
        <div class="swiper-slide">
          <img src={image.url} alt={image.alt || "Project Screenshot"} />
        </div>
      ))
    }
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import { Swiper } from "swiper";
  import { Navigation } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    slidesPerView: 1,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<style>
  .swiper {
    width: 100%;
    max-width: 65ch;
    margin-inline: auto;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--accent-dark);
  }
</style>
